.about-us section {
  display: flex;
}
.about-us-container {
  display: flex;
  margin: 4rem;
  gap: 3rem;
}
.about-us-textbox {
  width: 50%;
}
.about-us-card {
  width: 50%;
}
.introduction {
  padding: 1rem;
  letter-spacing: 1px;
  line-height: 3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 10);
}
.cta-buton {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-secondary);
  display: block;
  border-radius: 50px;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
  margin-block-start: 2rem;
}
.image {
  width: 100%;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 20, 10);
}
.about-us-card {
  display: flex;
  flex-wrap: wrap;
}
.about-us-card :hover {
  background-color: var(--color-primary);
  color: var(color-black);
  cursor: pointer;
}
.about-us-card-title {
  color: var(--color-secondary);
  text-align: center;
  text-transform: capitalize;
}
.about-us-details {
  text-align: center;
  width: 50%;
  padding: 1rem;
  letter-spacing: 1px;
  gap: 3rem;
  justify-content: space-between;
  line-height: 3rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 20, 10);
  transition: 0.3s;
}
.about-us-details :hover {
  color: var(--color-black);
}
.about-list {
  list-style: none;
}
