.testimony-card {
  box-shadow: 0 0 10rem var(--color-footer);
  width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  transition: 03s;
}
.testimony-card:hover {
  background-color: var(--color-footer);
  color: var(--color-white);
}
.testimony-card-details {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.testimony-card-details img {
  --size: 7rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}
.testimony-card-alumni-name {
  text-transform: capitalize;
  color: var(--color-footer);
  padding-left: 2rem;
  transition: 03s;
}
.testimony-card-alumni-name:hover {
  background-color: var(color-primary);
  color: var(--color-white);
}
.testimony-title {
  padding: 2rem;
  font-weight: bolder;
}
.testimony-text {
  font-size: inherit;
  line-height: 3rem;
}
