.leadership-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.leader {
  width: 40rem;
  margin: 2rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 10, 10);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}
.leader-name {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}
.leader-role {
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;
}
.leader-description {
  line-height: 30px;
  background-color: var(--color-white);
}
.leader-image {
  background-color: var(--color-secondary);
  width: 30rem;
  margin-left: 5rem;
  padding: 1rem;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.social-icons a {
  font-size: 4rem;

  margin: 1rem;
  width: 4rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 10, 10);
  height: 4rem;
  background-color: var(--color-primary);
  transition: 03s;
  color: var(--color-footer);
}
.social-icons a :hover {
  color: var(--color-secondary);
}
