@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

:root {
  --color-primary: rgb(178, 210, 127);
  --color-secondary: rgb(157, 22, 22);
  --color-tersiary: rgb(61, 177, 102);
  --color-footer: rgb(32, 44, 73);
  --color-white: rgb(255, 255, 255);
  --color-black: black;
  --color-blue: rgb(32, 149, 204);
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
}
.title {
  color: var(--color-secondary);
  font-size: 20px;
  padding: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  margin: 2rem;
  background-color: var(--color-primary);
}
